# Elastic Beanstalk Django 설정
option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: innok_site.wsgi:application
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: staticfiles
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: innok_site.settings_production
    PYTHONPATH: "/var/app/current:$PYTHONPATH"

